@page
@model IndexModel
@{ 
    ViewData["Title"] = "CloudFi";
}

<div class="text-center">
    <h3>Store all of your wifi passwords securely in one place</h3>
    <p>Additionally we make it easy for you to share your wifi password with your friends so you don't have to remember it yourself</p>
</div>
